<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JAIN INTERNATIONAL CONFERENCE (JAIN ICON) 2023</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img height="60px" width="120px" style="position: absolute;top: 10px;left: 20px;margin-top: 10px;" src="img/jain.png" alt=""><br><br>
                     <small style="position: absolute;top: 50px;left: 150px;margin-top: 10px;" class="assos">in association with</small> 
                     <img height="90" width="90" style="position: absolute;top: 10px;left: 240px;margin-top: 10px;margin-left: 30px;" src="img/logo3.png" alt="">
                     <img height="70px" width="70px" style="position: absolute;top: 10px;left: 350px;margin-top: 20px;margin-left: 10px;" src="img/logo2.png" alt="">
                    
                    
                </a>
                
            </div>
            
            
        </div>
    </header><br>
    <!-- Header End -->

    <section>
        <img  height="60px" width="60px" style="left: 0;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;" src="img/A++ NAAC.png" alt="">
         <img height="50px" width="50px" style="margin-top: 10px;float: right;margin-bottom: 10px;margin-right: 10px;" src="img/NIRF LOGO.png" alt="">
    </section>
    <!-- Header End -->
    <section lass="nav2 ">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </span></a>
                </li>
                
                
              </ul>
            </div>
          </nav>
    </section>
    <section class="home-about-section spad">
        <div class="container">
            <div class="row">
               
                <div >
                    <div class="ha-text">
                        <h2>About Conference</h2>
                        <p>The conference aims to provide a platform for knowledge sharing between academic researchers and business practitioners in order to support transformative changes for addressing
                            contemporary organizational challenges.
                           Disruptive technologies and innovations are challenging businesses to rethink who they are, what they stand for, how they operate and how they could organize for the future.
                            For successfully pivoting the business, organizations must nurture a culture that promotes constant transformation and understand that convergence in all spheres is absolutely
                            critical when making transformations. Facing a complex future, leaders/managers increasingly need research-based information and evidence more than ever.
                           The academic research scenario in India is changing in light of the recent developments in educational reforms, especially with the implementation of NEP 2020,
                            which seeks to transform higher education by focusing on skill-based education to meet the rapidly changing needs of the industry and the economy.
                            Towards this, the UGC has taken a new initiative to bring the industry and other professional expertise into the academic institutions by creating a new
                            category of positions called ‘Professor of Practice”, through which industry experts will be brought in to play the role of faculty members in the Higher Education Institutions (HEIs).
                            All these necessitate broader and deeper engagements between HEIs and industry partners, wherein academia needs to build a consultative and collaborative approach to working with
                            businesses and building programs that meet business needs.
                           In this context, the central theme of the conference is focused on making academic research more relevant to business organizations and bringing together suggestions to enhance the
                            relevance of academic research to practice on a real-time basis.</p>
                            <h4>Target Audience</h4><p><br>
                                The conference aims to reach out to an audience of 300 plus in physical mode, including research scholars, thought leaders from academia, industry practitioners and professionals.
                                 The conference arena is wide open to students for joining through virtual mode.
                                </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container"><!--
            <div class="partner-logo owl-carousel">
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-1.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-2.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-3.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-4.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-5.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-6.png" alt="">
                    </div>
                </a>
            </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="ft-logo">
                            <a href="#" class="footer-logo"><img src="img/logo.png" alt=""></a>
                        </div>
                       
                        <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://fraternitygroup.co.in" target="_blank">Fraternity Group</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>