<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JAIN INTERNATIONAL CONFERENCE (JAIN ICON) 2023</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>


    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img height="60px" width="120px" style="position: absolute;top: 10px;left: 20px;margin-top: 10px;" src="img/jain.png" alt=""><br><br>
                     <small style="position: absolute;top: 50px;left: 150px;margin-top: 10px;" class="assos">in association with</small> 
                     <img height="90" width="90" style="position: absolute;top: 10px;left: 240px;margin-top: 10px;margin-left: 30px;" src="img/logo3.png" alt="">
                     <img height="70px" width="70px" style="position: absolute;top: 10px;left: 350px;margin-top: 20px;margin-left: 10px;" src="img/logo2.png" alt="">
                    
                    
                </a>
                
            </div>
            
            
        </div>
    </header><br>
    <!-- Header End -->

    <section>
        <img  height="60px" width="60px" style="left: 0;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;" src="img/A++ NAAC.png" alt="">
         <img height="50px" width="50px" style="margin-top: 10px;float: right;margin-bottom: 10px;margin-right: 10px;" src="img/NIRF LOGO.png" alt="">
    </section>
    <!-- Header End -->
    <section lass="nav2 ">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </span></a>
                </li>
                
                
              </ul>
            </div>
          </nav>
    </section>

    <section class="schedule-section spad" id="call">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Call For Papers</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab2" id="tracks">
                                <div class="st-content" style="padding: 15px;">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="sc-text">
                                                    <b>Tracks and Sub-Themes</b>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <ul class="sc-widget">
                                                    
                                                        JAIN ICON 2023 provides a forum for the presentation of new advances and research results in the field of Commerce and Management, in tune with the conference theme.
                                                         Authors are invited to contribute to and shape the conference through submissions of their research abstracts, papers and case studies describing original and unpublished
                                                         work in all areas of convergence and transformation as ways of business.
                                                        We look forward to seeing you at JAIN ICON 2023!</li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="schedule-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab3" id="topics">
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="sc-text">
                                                    <h4><b class="head"> Topics of interest for submission include, but are not limited to:</b></h4>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <ul class="sc-widget">
                                                    
                                                      <br><p>
                                                        <b class="head">Track 1 Strategy and Innovation</b> <br><br>
                                                        Dr. R Subramanian, Bharathidasan Institute of Management (Chair)<br><br>
                                                        Dr. Hareesh N Ramanathan, Cochin University of Science and Technology (Co-Chair)<br>
                                                        •	Design thinking and innovation<br>
                                                        •	Disruptive innovations and management strategy<br>
                                                        •	Total cost management<br>
                                                        •	Strategic management accounting<br>
                                                        •	Strategic business reporting<br>
                                                        •	Mindful leadership<br>
                                                        •	Strategic alliances for competitive advantage<br>
                                                        •	Profitability and cost excellence<br>
                                                        •	Total cost management<br>
                                                        •	Performance measurement and management in the digital era<br>
                                                        •	Mergers, acquisitions and divestitures<br>
                                                        •	Green and social innovation<br>
                                                        •	Private Public Partnership<br><br></p>
                                                        <hr><p>
                                                        <b class="head">Track 2 Accounting and Finance: Now and the Future</b><br><br>
                                                        Dr. Simon Thattil, University of Kerala (Chair)<br><br>
                                                        Dr. Biju A V, University of Kerala (Co-Chair)<br>
                                                        •	Forensic accounting and investigation<br>
                                                        •	Sustainable finance and weather derivatives<br>
                                                        •	Inflation accounting<br>
                                                        •	Accounting disclosure practices in micro-finance institutions<br>
                                                        •	Intellectual property financing<br>
                                                        •	Digital finance and virtual assets<br>
                                                        •	Accounting education and research<br>
                                                        •	Innovative data sources in management accounting <br>
                                                        •	Research data management in accounting and finance<br>
                                                        •	Cloud based client accounting <br>
                                                        •	Foresight audit strategy<br>
                                                        •	Risk rationalisation of derivatives in SOFR transition<br>
                                                        •	SAP financials<br>
                                                        •	Accounting, auditing and reporting from blockchain and triple entry accounting<br>
                                                        •	Social audit<br>
                                                        •	Crowd funding<br>
                                                        •	Internationalisation of MSMEs<br><br><hr>
                                                            </p>
                                                        <p><b class="head">Track 3 People and Change</b><br><br>
                                                        Dr. Jeayaram Subramaniam, Bharathidasan Institute of Management (Chair)<br><br>
                                                        Dr. Simmy Kurian, JAIN (Deemed-to-be University) (Co-Chair)<br>
                                                        •	Equity, diversity and inclusion <br>
                                                        •	Ring fencing of talent<br>
                                                        •	Human capital for gig economy and moonlighting<br>
                                                        •	Application of digital technologies for academic administration and credentials management of students<br>
                                                        •	Big data and HR analytics<br>
                                                        •	Change management<br>
                                                        •	Employee engagement<br>
                                                        •	Flexible work models<br>
                                                        •	Performance measurement and management<br>
                                                        •	EVA drivers for business performance management<br><br><hr>
                                                        </p>
                                                        <b class="head">Track 4 Operations and Supply Chain Transformation</b><br><br>
                                                       <p>
                                                        Dr. C Unnikrishnan Nair, Maritime Logistics (Chair)<br><br>
                                                        Dr. Resmi C P, JAIN (Deemed-to-be University) (Co-Chair)<br>
                                                        •	Supply chain strategy and analytics<br>
                                                        •	Procurement transformation<br>
                                                        •	Innovations in logistic management<br>
                                                        •	Digital transformation of value chain management<br>
                                                        •	Tracking and tracing of materials and finished products<br>
                                                        •	Ethical sourcing<br><br><hr>
                                                       </p>
                                                        
                                                        <b class="head">Track 5 Marketing: 2022 and Beyond</b><br><br><p>
                                                        Dr. Ashish Gupta, Indian Institute of Foreign Trade (Chair)<br><br>
                                                        Dr. P Ravindranath, Rho Consulting (P) Ltd. (Co-Chair)<br>
                                                        •	Marketing technology intervention<br>
                                                        •	Agile marketing<br>
                                                        •	Integrated marketing communication<br>
                                                        •	The next-gen marketers<br>
                                                        •	Marketing in the metaverse<br>
                                                        •	Digital transformation of marketing<br>
                                                        •	Social media marketing<br>
                                                        •	Big data and marketing analytics<br>
                                                        •	Internet of things and enterprise information systems<br>
                                                        •	Branding and destination image<br>
                                                        •	Customer behaviour and customer relationship management<br>
                                                        •	Content marketing<br>
                                                        •	Digital dust for digital marketing<br>
                                                        •	Physical-digital-physical (PDP) loop for marketing management<br>
                                                        •	Stragility for innovation in marketing management<br><br><hr>
                                                        </p><p>
                                                        <b class="head">Track 6 Technology Strategy and Digital Transformation</b><br><br>
                                                        Dr. Sabu M K, Cochin University of Science and Technology (Chair)<br><br>
                                                        Dr. Felix M Philip, JAIN (Deemed-to-be University) (Co-Chair)<br>
                                                        •	Artificial intelligence enabled financial forecasting<br>
                                                        •	Block chain technology, Web 3 and Metaverse <br>
                                                        •	Mechatronics, robotic process automation and humanoid<br>
                                                        •	Tax technology and transformation<br>
                                                        •	Fin tech in India - The evolution and growth wave<br>
                                                        •	Fin tech themes for the future<br>
                                                        •	New age equity research <br>
                                                        •	Big data and business analytics<br>
                                                        •	Private crypto currency Versus Central Bank digital currency<br>
                                                        •	Design thinking and applications of digital technologies<br>
                                                        •	Drones for services to humanity<br>
                                                        •	ICT and digital jurisprudence<br><br><hr>
                                                            </p><p>
                                                        <b class="head">Track 7 Environmental, Social and Governance (ESG) Perspectives</b><br><br>
                                                        Dr. M P Sukumaran Nair, Centre for Green Technology and Management (Chair)<br><br>
                                                        Dr. Gipson Edappazham, JAIN (Deemed-to-be University) (Co-Chair)<br>
                                                        •	Climate finance and sustainable portfolios<br>
                                                        •	Extinction accounting<br>
                                                        •	Natural capital assessment for sustainability<br>
                                                        •	Accounting for waste management<br>
                                                        •	Transition to a net zero and net positive future<br>
                                                        •	Accountability and transparency of ESG driven disclosures<br>
                                                        •	Divestment and engagement in decarbonising business<br>
                                                        •	Circular economy – reverse logistics for sustainability<br>
                                                        •	Sustainable, responsible and impact investing<br>
                                                        •	ESG score measurement, governance and reporting<br>
                                                        •	ESG risks, opportunities and benefits<br>
                                                        <br>
                                                       </p><br><hr>
                                                       
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="schedule-section spad" id="key">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab3">
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="sc-text">
                                                    <h4><b class="head"> Key Highlights</b></h4><br>
                                                    
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <ul class="sc-widget">
                                                    <li><p>
                                                        This selected papers shall be considered for publication in journals(ABDC/Scopus/Web of Science/UGC Care), subject to the 
                                                        adherence of the journals' review process.
                                                    </p></li>
                                                        <li>
                                                            <p>
                                                                The selected papers submitted and presented in JAIN ICON 2023 will be published as conference proceeding. 
                                                            </p>
                                                        </li>
                                                        <li>
                                                            <p>Best Paper Awards in each track.</p> 
                                                        </li>

                                                    
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="schedule-section spad" id="submission">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab3">
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-5">
                                                <div class="sc-text">
                                                    
                                                    <h4><b class="head"> Paper Submission Guidelines</b></h4>
                                                    <br>
                                                </div>
                                            </div>
                                            <div class="col-lg-12">
                                                <ul class="sc-widget">
                                                    <p>
                                                    •	The manuscript should be in English and checked for grammar and language errors.<br> 
                                                    •	All manuscripts should be submitted in MS Word format only. <br>
                                                    •	All submitted papers would be checked for plagiarism. <br>
                                                    •	Participants should ensure that the submitted abstracts are their original work and have not been published in any form (hard copy or soft copy) earlier. <br>
                                                    •	Failing to adhere to the guidelines may make your submission liable for rejection.<br>
                                                    •	Submit your abstract, full paper and case study to <a href="mailto:jainicon.2023@jainuniversity.ac.in">jainicon.2023@jainuniversity.ac.in</a>. Mention the track number in the correspondence.<br>
                                                    •	The receipt of full-length papers will be subject to a blind review process by the Scientific Review Committee.<br>
                                                    </p>
                                                    
                                                    <br>
                                                    <b class="head">It is required that the abstract/full paper/case study follows:</b><br><br>

                                                    <table>
                                                        <tr>
                                                            <td>Length</td>
                                                            <td>Word limit for abstract: 150 to 500 words includes purpose, design/methodology, findings, research limitations and practical implications. 
                                                                Word limit for Full-Length</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Paper</td>
                                                            <td>5000 to 8000 words including references</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Margins</td>
                                                            <td>2.5 cm. or 1 inch throughout (left, right, top, and bottom)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Orientation</td>
                                                            <td>Portrait</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Font</td>
                                                            <td>Times New Roman, 12 point (for the main text) & 14 point (Heading)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Line spacing</td>
                                                            <td>Double Spacing (for the main text) & Single (for key references)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Title</td>
                                                            <td>Title of the Paper (14 point)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Key words</td>
                                                            <td>Required (Minimum 5)</td>
                                                        </tr>
                                                        <tr>
                                                            <td>Referencing</td>
                                                            <td>APA Format</td>
                                                        </tr>
                                                    </table>
                                                    

                                                    <br>
                                                    <p style="color: grey;">
                                                        *We will take all efforts to ensure that the publication opportunity is given to the authors in the journals supporting the conference. However, no guarantee is given for publication, as each journal has its mandatory requirements and timelines which have to be satisfied before the paper gets accepted and published. <br>

                                                        **A separate publication fee has to be paid by the authors for publication of their manuscript in conference proceedings by an external publisher or as a journal article.  
                                                    </p>

                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="schedule-section spad" id="dates">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <h2>Important Dates</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-10">
                    <div class="schedule-tab">

                        <table style="word-break: break-all;">
                            <tr>
                                <th><b>Day</b></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td>30th December 2022</td>
                                <td>Submission of abstracts /full papers/ case studies</td>
                            </tr>
                            <tr>
                                <td>5th January 2023</td>
                                <td>Extended date of submission</td>
                            </tr>
                            <tr>
                                <td>15th January 2023</td>
                                <td>Intimation of acceptance</td>
                            </tr>
                            <tr>
                                <td>18th January 2023</td>
                                <td>Last date of registration for the conference</td>
                            </tr>
                            <tr>
                                <td>27th & 28th January 2023</td>
                                <td>Conference dates</td>
                            </tr>
                            
                            
                        </table>
                    
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <br><br>
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container"><!--
            <div class="partner-logo owl-carousel">
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-1.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-2.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-3.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-4.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-5.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-6.png" alt="">
                    </div>
                </a>
            </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="ft-logo">
                            <a href="#" class="footer-logo"><img src="img/logo.png" alt=""></a>
                        </div>
                       
                        <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://fraternitygroup.co.in" target="_blank">Fraternity Group</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>