<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JAIN INTERNATIONAL CONFERENCE (JAIN ICON) 2023</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>


    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img height="60px" width="120px" style="position: absolute;top: 10px;left: 20px;margin-top: 10px;" src="img/jain.png" alt=""><br><br>
                    <small style="position: absolute;top: 50px;left: 150px;margin-top: 10px;" class="assos">in association with</small> 
                    <img height="90" width="90" style="position: absolute;top: 10px;left: 240px;margin-top: 10px;margin-left: 30px;" src="img/logo3.png" alt="">
                    <img height="70px" width="70px" style="position: absolute;top: 10px;left: 350px;margin-top: 20px;margin-left: 10px;" src="img/logo2.png" alt="">
                   
                   
                </a>
                
            </div>
            
            
        </div>
    </header><br>
    <!-- Header End -->

    <section>
        <img  height="60px" width="60px" style="left: 0;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;" src="img/A++ NAAC.png" alt="">
         <img height="50px" width="50px" style="margin-top: 10px;float: right;margin-bottom: 10px;margin-right: 10px;" src="img/NIRF LOGO.png" alt="">
    </section>
    <!-- Header End -->
    <section lass="nav2 ">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </span></a>
                </li>
                
                
              </ul>
            </div>
          </nav>
    </section>
    <section class="schedule-section spad" id="prgrm-schedule">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab">
                        
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            
                                            <div >
                                                <div class="sc-text">
                                                    <h4>Program Schedule</h4>
                                                   <br>
                                                   <b>Day-1, 27th Jan 2023</b><br><br>
                                                <table style="width: 100%;">
                                                    <tr>
                                                        <th><b>Time</b></th>
                                                        <th><b>Program</b></th>
                                                    </tr>
                                                    <tr>
                                                        <td class="time">8.30am - 9.00am</td>
                                                        <td>Registration</td>
                                                    </tr>
                                                    <tr>
                                                        <td></td>
                                                        <td><b>Inaugural Session</b></td>
                                                    </tr>
                                                    
                                                    <tr>
                                                        <td class="time">9.15am - 9.17am</td>
                                                        <td>Prayer</td>
                                                    </tr>
                                                    <tr>
                                                        <td class="time">9.17am - 9.22am</td>
                                                        <td>Welcome Address by Prof. (Dr.) K Sreekumar, Conference Convener – JAIN ICON 2023
                                                        </td>
                                                       
                                                    </tr>

                                                    <tr>
                                                        <td class="time">9.22am - 9.35am</td>
                                                        <td>Address by Dr. Chenraj Roychand, Chancellor, JAIN (Deemed-to-be-University)
                                                        </td>
                                                       
                                                    </tr><tr>
                                                        <td class="time">9.35am - 9.40am</td>
                                                        <td>Lighting of Lamp by Dignitaries
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">9.40am - 9.55am</td>
                                                        <td>Inaugural Address by the Guest of Honour - Ahmed Trais Al-Shaikh, Executive Vice President (E&PM), SABIC, Kingdom of Saudi Arabia
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">9.55am - 10.00 am</td>
                                                        <td>Prof. (Dr.) Raj Singh, Vice-Chancellor, JAIN (Deemed-to-be-University)
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.00am - 10.05am</td>
                                                        <td>Prof. (Dr.) J Letha, Pro-Vice Chancellor, JAIN (Deemed-to-be-University)
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.05am – 10.15am</td>
                                                        <td>Video messages
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.15am -10.20 am</td>
                                                        <td>Dr. D P Nandi FCMA, Senior Director, ICAI (CMA), Kolkata
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.20am -10.25 am</td>
                                                        <td>Mr. M Nagesh Babu, Senior Counsellor, Confederation of Indian Industry (TCM Division), Hyderabad
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.25am - 10.30am</td>
                                                        <td>Mr. K L Lajeesh FCMA, Chairman ICAI (CMA) Kochi Chapter
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.30am - 10.35am</td>
                                                        <td>Mr. Tom Joseph, Director-New Initiatives, JAIN (Deemed-to-be University)
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.35am - 10.40am</td>
                                                        <td>Release of Souvenir by Dignitaries
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.40am - 10.45am</td>
                                                        <td>Memento distribution to the Guest of Honour
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.45am - 10.50am</td>
                                                        <td>Vote of Thanks
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">10.50am - 11.00am </td>
                                                        <td>Tea break</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td> </td>
                                                        <td><b>Plenary Session</b></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">11.00am - 11.20am </td>
                                                        <td>Keynote Address 1</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">11.20am - 11.40am</td>
                                                        <td>Keynote Address 2</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">11.40am  -12.00pm</td>
                                                        <td>Keynote Address 3</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">12.00pm – 12.20pm</td>
                                                        <td>Keynote Address 4</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">12.20pm – 12.40pm</td>
                                                        <td>Keynote Address 5</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">12.40pm - 12.45pm</td>
                                                        <td>Memento Distribution to the Keynote Speakers</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">12.45pm- 1.30pm</td>
                                                        <td><b>Lunch</b></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">1.30pm - 2.40pm</td>
                                                        <td>
                                                            <b>Panel Discussion on “Unfolding the future together: Academia-Industry Convergence”</b><br><br>
                                                            - Prof. (Dr.) Raj Singh, Vice Chancellor, JAIN (Deemed-to-be University), Bengaluru<br><br>
                                                            - Dr. K Ravi Raman, Expert Member, The Kerala State Planning Board, Thiruvananthapuram<br><br>
                                                            - Mr. S Suhas IAS, Managing Director, Cochin International Airport Ltd., Kochi<br><br>
                                                            - Dr. Sindhuja R Varma, Founder-Director, Antara consultancy & Chairwoman of Indian Women Network, Kerala (CII)<br><br>
                                                            - Prof. (Dr.)  P A Mathew, Chairman, Grace International Academy, Kollam<br><br>
                                                       
                                                        </td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">2.40pm - 3.00pm</td>
                                                        <td>Keynote Address 6</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">3.00pm - 3.20pm</td>
                                                        <td>Keynote Address 7</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">3.20pm - 3.40pm</td>
                                                        <td>Keynote Address 8</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">3.40pm - 3.50pm</td>
                                                        <td><b>Tea Break</b></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">3.50pm - 4.10pm</td>
                                                        <td>Keynote Address 9</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">4. 10pm - 4.30pm</td>
                                                        <td>Keynote Address 10</b></td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">4.30pm - 4.50pm</td>
                                                        <td>Keynote Address 11</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">4.50pm - 4.55pm</td>
                                                        <td>Memento distribution to the Keynote Speakers</td>
                                                       
                                                    </tr>
                                                    <tr>
                                                        <td class="time">4.55pm - 5.00pm</td>
                                                        <td>Closing Remarks of Day 1 by Dr. Kannan Balakrishnan, Conference Co-Convener – JAIN ICON 2023</td>
                                                       
                                                    </tr>
                                                    </table>
                                                    <br><br>
                                                    <b>DAY-2, SATURDAY, 28th Jan 2023</b>
                                                    <br><br>
                                                    <table>
                                                        <tr>
                                                            <th><b>Time</b></th>
                                                            <th><b>Program</b></th>
                                                        </tr>
                                                        <tr>
                                                            <td class="time">9.00am - 9.30am </td>
                                                            <td>Registration</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="time">9.45am- 10.00am</td>
                                                            <td>Briefing of Day 2 </td>
                                                        </tr>
                                                        <tr>
                                                            <td class="time">10.00am – 1.00pm</td>
                                                            <td>Track wise Paper Presentations</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="time">1.00pm - 2.00pm</td>
                                                            <td><b>Lunch</b></td>
                                                        </tr>
                                                        <tr>
                                                            <td class="time">2.00pm - 3.30 m</td>
                                                            <td>Track wise Paper Presentations</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="time">3.30pm - 3.50pm</td>
                                                            <td>Declaration of Best Paper Awards and Prize Distribution</td>
                                                        </tr>
                                                        <tr>
                                                            <td class="time">3.50pm - 4.00pm</td>
                                                            <td>Closing Remarks by Prof. (Dr.) K Sreekumar – Conference Convener</td>
                                                        </tr>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                           
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container"><!--
            <div class="partner-logo owl-carousel">
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-1.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-2.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-3.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-4.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-5.png" alt="">
                    </div>
                </a>
                <a href="#" class="pl-table">
                    <div class="pl-tablecell">
                        <img src="img/partner-logo/logo-6.png" alt="">
                    </div>
                </a>
            </div> -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="footer-text">
                        <div class="ft-logo">
                            <a href="#" class="footer-logo"><img src="img/logo.png" alt=""></a>
                        </div>
                       
                        <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
  Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://fraternitygroup.co.in" target="_blank">Fraternity Group</a>
  <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                       
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>