<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JAIN INTERNATIONAL CONFERENCE (JAIN ICON) 2023</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>
 

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img height="60px" width="120px" style="position: absolute;top: 10px;left: 20px;margin-top: 10px;" src="img/jain.png" alt=""><br><br>
                     <small style="position: absolute;top: 50px;left: 150px;margin-top: 10px;" class="assos">in association with</small> 
                     <img height="90" width="90" style="position: absolute;top: 10px;left: 240px;margin-top: 10px;margin-left: 30px;" src="img/logo3.png" alt="">
                     <img height="70px" width="70px" style="position: absolute;top: 10px;left: 350px;margin-top: 20px;margin-left: 10px;" src="img/logo2.png" alt="">
                    
                    
                </a>
                
            </div>
            
            
        </div>
    </header><br>
    <!-- Header End -->

    <section>
        <img  height="60px" width="60px" style="left: 0;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;" src="img/A++ NAAC.png" alt="">
         <img height="50px" width="50px" style="margin-top: 10px;float: right;margin-bottom: 10px;margin-right: 10px;" src="img/NIRF LOGO.png" alt="">
    </section>
    <!-- Header End -->
    <section lass="nav2 ">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </span></a>
                </li>
                
                
              </ul>
            </div>
          </nav>
    </section>
   <!-- Schedule Section Begin -->
   <section class="schedule-section spad" id="speakers">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <h2>Speakers</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="schedule-tab">
                    
                    <div class="tab-content">
                        <div class="tab-pane active" id="tabs-1" role="tabpanel">
                            <div class="tab-pane" id="tabs-4" role="tabpanel">
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Ahmed Al Shaik.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-5">
                                                <div class="sc-text">
                                                    <h4>Guest of honor</h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. Ahmed Trais Al-Shaikh <br>
                                                            
                                                        Executive Vice President (E&PM) <br>
                                                            SABIC <br>
                                                            Kingdom of Saudi Arabia <br>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Al-Shaikh is currently the Chairman of Saudi Kayan and Fujan and Takamul projects. In addition, he served as a Chairman of HADEED and served on the board of Marafiq.
                                                        Before his current position, Al-Shaikh held several senior positions at SABIC including EVP of Manufacturing, President of Yanpet (a joint venture between SABIC and Exxon),
                                                        and Jubail United with over 25 years of experience in the Oil & Petrochemical industries. Al-Shaikh holds a Bachelor of Science in Electrical Engineering and has done intensive
                                                        executive programs from IMD Switzerland, INSEAD France, and General Electric USA.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/sabicmanufacturing"><li style="color: #0A66C2;" class="fa fa-linkedin-square "></li> LinkedIn </a> 
                                                        </p>
                                                    
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/ranjani-krishnan.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-7">
                                                <div class="sc-text">
                                                    <h4>Strategic Management Accounting – Driving Resilience </h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Prof. (Dr.) Ranjani Krishnan <br>
                                                           Ernest W. and Robert W. Schaberg Chair in Accounting
                                                            Broad College of Business, <br> Michigan State University, USA
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <di>
                                                <ul class="sc-widget">
                                                    <li> Ranjani Krishnan teaches management accounting and value chain analytics at the EMBA, MBA, and Ph.D. levels. She received her Ph.D.
                                                        from the University of Pittsburgh and joined MSU’s faculty in 1998. Krishnan received Best Paper Awards at the Academy of Management Annual Meeting (2015)
                                                        and Journal of Management Accounting Research, (2013), the Greatest Impact on Managerial Accounting Practice Award (2012),
                                                        the Notable Contribution to Accounting Research Award (2006), the Notable Contribution to Management Accounting Literature Award (2005),
                                                        and the 1999 McLaughlin Prize for Research in Accounting Ethics.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/ranjani-krishnan-45374531/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                        
                                                    </li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Shirish.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Cloud ERP – Powering the Intelligent Enterprise of Tomorrow </h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Prof. (Dr.) Shirish C Srivastava <br>
                                                           GS1 France Chair on Digital Content for Omni Channel
                                                            HEC, Paris
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <di>
                                                <ul class="sc-widget">
                                                    <li>Shirish C. Srivastava is a tenured Full Professor and holds the GS1 France Chair on Digital Content for Omni Channel at HEC, Paris. Prior to joining HEC,
                                                        Srivastava lectured at the School of Business, National University of Singapore and holds a Ph.D. from the same university. His rich experience includes
                                                        coaching senior executives on managing technology, innovation, artificial intelligence, digital transformation, entrepreneurship and cross-border business relationships.
                                                        He currently serves as a Senior Editor at the Journal of the Association for Information Systems (JAIS) and the European Journal of Information Systems (EJIS).
                                                        He also serves on the editorial board of several other prestigious international journals. 
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/shirishsrivastava"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Amiya Rajan.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Changing Role of CFOs in Data and AI led Digital Transformation </h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. Amiya Ranjan Tripathy FCMA, FCMA(CIMA), FCS <br>
                                                           Chief Financial Officer, <br> Tata Insights and Quants, Bengaluru
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Amiya Tripathy has over 30 years of experience, working in both private and public sector companies, including Steel Authority of India Limited,
                                                        his areas of expertise include textile, steel, power, engineering consultancy and data analytics. 
                                                        <p>
                                                            <a style="color: #0A66C2;" href=" https://www.linkedin.com/in/amiya-tripathy-4358b117"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                    </li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Asim.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Emerging Roles of Accounting and Finance Professionals</h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. Asim Kumar Mukhopadhyay FCMA, FCA, FCS <br>
                                                           CEO & Managing Director of TML Smart City Mobility Solutions Ltd. <br> (An affiliate of Tata Motors Ltd.), <br> Mumbai
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li>Asim Kumar Mukhopadhyay is currently associated with 6 Companies and is a director with Tata Marcopolo Motors Limited, Tata Cummins Private Limited,
                                                        TML (CV) Mobility Solutions Limited, and TML Distribution Company Limited. He is also a Nominee Director with Tata Hitachi Construction Machinery Company Private Limited. 
                                                        
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/asim-kumar-mukhopadhyay-38253b40/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p></li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Paritosh.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Humane and Ethical Dimensions of Digital Transformation </h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Prof. (Dr.) Paritosh Basu FCMA, FCA, FIMA <br>
                                                          Adjunct Faculty, NMIMS University & IIMK
                                                            Senior Director (Services) <br>
                                                            Stragility Consulting Pvt. Ltd., <br> Mumbai
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Paritosh Basu is a digital gospeller and engaged in several research and consulting activities. The subjects of his ongoing three research projects are Crowd Funding,
                                                        Accounting and Reporting from Blockchain Platforms and CBDC. He is presently an adjunct faculty member of NMIMS University School of Business Management and IIMK.
                                                        He is also a former full-time professor at NMIMS University School of Business Management. Dr. Basu has chaired four World Blockchain and AI Summits held in Moscow, Dubai, and India.
                                                        Dr. Basu participates as a member of the board of directors, and the board of studies of management and law schools and professional institutes. 
                                                       
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/dr-paritosh-basu-87a67a15/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                    </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Sakhthimoni.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Fintech – Now and the Future</h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. S Sakthimani FCMA, FCS <br>
                                                           Director (Finance), <br> The Fertilisers And Chemicals Travancore (FACT) Ltd., <br> Kochi
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li>S Sakthimani is the Director (Finance) of Fertiliser and Chemical Travancore Ltd. (FACT). Prior to joining FACT,
                                                        he served as Director (Finance & Marketing) in Cement Corporation of India Limited and also served in Steel Authority of India Limited,
                                                        Rashtriya Ispat Nigam Limited, Scooters India Limited and Engineering Projects (India) Limited. He is having rich experience in Strategic Planning,
                                                        Finance & Accounts, Corporate Affairs, Operations, Quality Assurance and Auditing.
                                                        
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/sakthi-mani-b799649"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                    </li>
                                                    
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Jayakrishnan.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Technology Integration for Accelerated Digital Transformation </h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. Jayakrishnan T <br>
                                                          Founder and CEO, <br> ASIMOV Robotics, Kochi
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Jayakrishnan is the founder and CEO of ASIMOV Robotics Pvt Ltd, a company that provides engineering products/solutions and consultancy in advanced Robotics and AI.
                                                        ASIMOV Robotics has been featured in Forbes magazine 2018, as one of India’s most promising AI and Robotics companies. Apart from heading the operations, at ASIMOV Robotics,
                                                        he is responsible for the conceptualization, research and development of the interactive social-service-robots ISRA (2012) SAYABOT (2016), CHHAYA (2020) to address various
                                                        requirements in Banking, Retail, Healthcare, Space technology, Security and Hospitality sectors.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/jayakrishnan-t-61647125/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p> </li>
                                                    
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/unni.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>ESG Frameworks and the Way Forward – Bringing it all together</h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. K A Unni Nayar <br>
                                                          Deputy Manufacturing Director, <br> JK Tyre & Industries Ltd., <br> Chennai 
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> A senior management professional, with a vast experience of 40 years, Unni Nayar has been engaged in green initiatives,
                                                        continually improving the energy performance of the company for sustainable growth. He is a sought-after speaker and has delivered keynote sessions and led panel
                                                        discussions at national and international summits, conferences, seminars and webinars.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/k-a-unni-nayar-aa53a015/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                     </li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/PrathapMohan.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Driving Investment into Sustainable Infrastructure </h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. C Prathapmohan Nair <br>
                                                           Associate Director, <br> PwC, Kochi
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Prathap, in his current capacity as Associate Director, PwC is well-versed in advisory and consulting assignments. He is also a Certified PPP Professional
                                                        having over 20 years of overall experience and has led multiple projects in the infrastructure/PPP/Technology sector with rich experience in policy development,
                                                        structuring, transaction advisory, institutionalization, implementation, project management, new business development and capacity building.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/c-prathap-mohan-nair-cp-nair-1328a28/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                     </li>
                                                    
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Guruprasad.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Recent Trends in Research Automation </h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. Guruprasad Jambunathan CFA, FRM, CSPO <br>
                                                          Director, <br> CRISIL Ltd., <br> Chennai
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Guruprasad Jambunathan, Director, CRISIL Ltd., Chennai is a Financial Research analyst. A Data and Product leader in Financial Research and Capital Markets with 17+ years
                                                        of experience in research data setup and governance, data digitalization, product strategy, equity research, talent management, P&L and account management. 
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/guruprasad-jambunathan/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                    </li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Jayadev.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <h4>Corporate Distress and Restructuring</h4>
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Prof. (Dr.) M Jayadev <br>
                                                           Professor in Finance and Accounting, <br> IIM Bengaluru
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> M Jayadev, Professor in Finance and Accounting at the Indian Institute of Management, Bengaluru is also the Chairperson of the Centre for Capital Markets and Risk Management.
                                                        His professional services extend to the area of Basel Accords, Banking and Risk Management for several banks, consulting firms and software companies. He is an associate member
                                                        of the Indian Institute of Bankers and a recipient of the ICSSR and UGC Fellowships. He is a member of the board of directors of BGSE Financial Limited and is also on the board
                                                        of two start-up ventures.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/jayadev-madugula-3265648"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                     </li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div><br>
                                <h4 class="text-center"><b>Panel Discussion</b></h4><br>
                                <p class="text-center">“Unfolding the Future Together – Academia Industry Convergence”</p><br><br>
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/rajsign.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    
                                                    
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Prof. (Dr.) Raj Singh <br>
                                                          Vice-Chancellor, <br> JAIN (Deemed-to-be University), <br> Bengaluru
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Raj Singh is the Vice Chancellor of JAIN (Deemed-to-be University), Bengaluru. He is an innovative academic leader and administrator with proven capability in
                                                        designing industry-relevant programs in collaboration with industry and academia. With 38 years of experience in education and administration, he has led some of the
                                                        well-known universities and institutions in India. He has conducted research and published in the field of Finance and Accounting, Strategy and Marketing.
                                                        He graduated in Mathematics and Economics and took a postgraduate qualification in Economics.
                                                        He is a Chartered Financial Analyst (CFA) from the Institute of Chartered Financial Analysts of India and a Ph.D. from Maharshi Dayanand University Rohtak, India.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/dr-raj-singh-b473a215/"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                    </li>
                                                    
                                                  
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/raviraman.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Dr. K Ravi Raman <br>
                                                           Expert Member, <br> Kerala State Planning Board, <br> Thiruvananthapuram
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div >
                                                <ul class="sc-widget">
                                                    <li> Ravi Raman, Expert Member, Kerala State Planning Board was formerly a Senior Fellow at the Nehru Memorial Museum and Library, New Delhi. He was also a Director,
                                                        Institute of Applied Manpower Research, Planning Commission and a visiting fellow in Oxford, Cambridge and Manchester for varying periods. He also taught at
                                                        Kerala Agricultural University and Centre for Development Studies, Thiruvananthapuram. He was also a honorary research fellow in the Department of Development Studies,
                                                        SOAS, London and affiliated researcher on Egalitarianism, University of Bergen. He works on a range of themes with a focus on agrarian and labour studies, social movements,
                                                        policy and development, business and labour history and environmental studies. He is the author of Global Capital and Peripheral Labour (Routledge, 2010/2012/2015),
                                                        editor of Development, Democracy and the State (Routledge, 2010) and Corporate Social Responsibility (with Ronnie Lipschutz) (Palgrave Macmillan, 2010) and has contributed
                                                        to journals such as Review of International Political Economy, Review of Radical Political Economics, Nature and Culture, Social Analysis; Sociology; Organisation and
                                                        Harvard-Cambridge journals such as Business History Review and Cambridge Journal of Regions, Economy and Society, Monthly Review and so on.
                                                        His forthcoming book is Eco spatiality: Livelihood, Environment and the Subaltern Struggles, Cambridge University Press.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/ravi-raman-214916169"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                        
                                                    
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Mathew.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Prof. (Dr.) P A Mathew <br>
                                                           Founder Chairman and Principal, <br> Grace International Academy, <br> Kollam
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> Founder Chairman and Principal, Grace International Academy, Kollam
                                                        P A Mathew is the Chairman of Grace International Academy, Kollam. A renowned academician and educationalist, 
                                                        his academic and professional repertoire is as varied as it is distinguished. He has taught in Christ University, Bengaluru, 
                                                        Symbiosis University, Pune and Federal Institute of Science and Technology (FISAT), Kochi. He holds postgraduate degrees in Economics, 
                                                        Management and Sociology and Ph.D. in International Economics from the Jawaharlal Nehru University, New Delhi.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/p-a-mathew-4191a914"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                    </li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Suhas.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Mr. S Suhas IAS <br>
                                                           MD, Cochin International Airport Ltd., <br> Kochi
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div>
                                                <ul class="sc-widget">
                                                    <li> An IAS Officer of Kerala Cadre, Suhas is currently the Managing Director, Cochin International Airport Limited. He was also the former District Collector 
                                                        and District Magistrate of Wayanad, Alappuzha and Ernakulam. He is well-known for his pragmatic brilliance and diligence and has initiated many administrative 
                                                        <br>  programmes effectively integrating technology with governance. He is also officering the post of Managing Director of RBDCK.</li>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-lg-3">
                                                <div class="sc-pic">
                                                    <img src="img/members/Sinduja.png" alt="">
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="sc-text">
                                                    <ul>
                                                        <li><i class="fa fa-user"></i> Dr. Sindhuja R Varma <br>
                                                           Founder-Director Antara consultancy, <br> Thiruvananthapuram Chairwoman IWN Kerala (CII)
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div >
                                                <ul class="sc-widget">
                                                    <li> Dr.Sindhuja R Varma has over 27 years of experience in HR, the last 15 being in Allianz Technology, Technopark, India. She is a Consultant Trainer, 
                                                        Coach, Diversity-Equity Inclusion expert, Founder-Director of Antara consultancy & Chairwoman of Indian Women Network, Kerala (CII). She is the winner 
                                                        of "Leading Woman in Human Resources"(2011) an award instituted by iiglobal & NDTV profit. She holds a Ph.D. in Environmental Psychology from the University of Delhi.
                                                        <p>
                                                            <a style="color: #0A66C2;" href="https://www.linkedin.com/in/dr-sindhuja-r-varma-38b46351"><li style="color: #0A66C2;" class="fa fa-linkedin-square"></li> LinkedIn </a> 
                                                        </p>
                                                        
                                                    </li>
                                                    
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                
                        
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Schedule Section End -->


<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container"><!--
        <div class="partner-logo owl-carousel">
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-1.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-2.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-3.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-4.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-5.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-6.png" alt="">
                </div>
            </a>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-text">
                    <div class="ft-logo">
                        <a href="#" class="footer-logo"><img src="img/logo.png" alt=""></a>
                    </div>
                   
                    <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://fraternitygroup.co.in" target="_blank">Fraternity Group</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                   
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->
    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>