<!DOCTYPE html>
<html lang="zxx">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Manup Template">
    <meta name="keywords" content="Manup, unica, creative, html">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>JAIN INTERNATIONAL CONFERENCE (JAIN ICON) 2023</title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,500,600,700,800,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap" rel="stylesheet">


    <!-- Css Styles -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="css/elegant-icons.css" type="text/css">
    <link rel="stylesheet" href="css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="css/slicknav.min.css" type="text/css">
    <link rel="stylesheet" href="css/style.css" type="text/css">
</head>

<body>

    <!-- Header Section Begin -->
    <header class="header-section">
        <div class="container">
            <div class="logo">
                <a href="./index.html">
                    <img height="60px" width="120px" style="position: absolute;top: 10px;left: 20px;margin-top: 10px;" src="img/jain.png" alt=""><br><br>
                    <small style="position: absolute;top: 50px;left: 150px;margin-top: 10px;" class="assos">in association with</small> 
                    <img height="90" width="90" style="position: absolute;top: 10px;left: 240px;margin-top: 10px;margin-left: 30px;" src="img/logo3.png" alt="">
                    <img height="70px" width="70px" style="position: absolute;top: 10px;left: 350px;margin-top: 20px;margin-left: 10px;" src="img/logo2.png" alt="">
                   
                   
                </a>
                
            </div>
            
            
        </div>
    </header><br>
    <!-- Header End -->

    <section>
        <img  height="60px" width="60px" style="left: 0;margin-top: 10px;margin-bottom: 10px;margin-left: 10px;" src="img/A++ NAAC.png" alt="">
         <img height="50px" width="50px" style="margin-top: 10px;float: right;margin-bottom: 10px;margin-right: 10px;" src="img/NIRF LOGO.png" alt="">
    </section>
    <!-- Header End -->
    <section lass="nav2 ">
        
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark text-center">
            
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon "></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="/">Home </span></a>
                </li>
                
                
              </ul>
            </div>
          </nav>
    </section>
    <!-- Contact Section Begin -->
    <section class="contact-section spad" id="address">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="section-title">
                        <b class="head">Venue</b>
                        <p>Get directions to our event center</p>
                    </div>
                    <div class="cs-text">
                        <div class="ct-address">
                            <span>Address:</span>
                            <p>Radisson Blu Kochi, <br> Metro Junction, <br> Sahodaran Ayyappan Road, <br> Elamkulam, Kochi, Kerala 682020 <br> Phone: +91 484 4129999</p>
                        </div>
                       
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="cs-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3929.5950927179633!2d76.3072482!3d9.9676064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3b0872d1c088f139%3A0x54974bd38aab09b8!2sRadisson%20Blu%20Kochi!5e0!3m2!1sen!2sin!4v1672035495451!5m2!1sen!2sin" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Contact Section End -->
    <section class="schedule-section spad">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab4">
                        
                                <div class="st-content2">
                                    <div class="container">
                                        <div class="row">
                                           
                                            <div class="col-lg-12">
                                                <div class="sc-text">
                                                    <b class="head"><h5 style="color: white;">How To Reach The Venue</h5></b>
                                                    <br><br>
                                                </div>
                                            </div>
                                            <div class="col-lg-6">
                                                <ul class="sc-widget">
                                                    
                                                    <b>By Air</b><br>
                                                    Kochi airport is located about 26 km away from the conference venue. Taxis are available from airport to city. Delhi, Chennai, Bengaluru and Mumbai
                                                     are all well-connected to Kochi.<br> 
                                                     <br><br>
                                                    <b>By Train</b><br>
                                                    Nearest railway station is located about 6 km away from the conference venue. Kochi is well-linked with all major rail junctions and towns in India.<br>
                                                    <br><br>
                                                    <b>By Road</b>
                                                    Kochi is well-connected with all major cities in Kerala by state-owned bus services. Private deluxe buses also operate from Bengaluru and Chennai. <br>
                                                    
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="schedule-section spad" id="kochi">
        <div class="container">
           
            <div class="row">
                <div class="col-lg-12">
                    <div class="schedule-tab5">
                        
                                <div class="st-content">
                                    <div class="container">
                                        <div class="row">
                                           
                                            <div class="col-lg-5">
                                                <div class="sc-text">
                                                    <b class="head">About Kochi</b>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <ul class="sc-widget">
                                                    <p>
                                                        Kochi is one of the cosmopolitan cities of Kerala which had come into limelight with its rich treasures of spices.
                                                    It is also called as the Gateway to Kerala and its awe inspiring scenic views makes it a perfect tourist destination.
                                                    Kochi is small place in Kerala which is also known as God's Own Country and amous for its green pastures with beautiful landscapes.
                                                    This city houses the very famous port which is known for its world class standards and facilities.
                                                    International airport at Nedumbassery is located approximately 40 km North of the city.
                                                    Malayalam is the native language spoken here. With economic and social development this place has become one of the most happening places in Kerala.
                                                   Places to visit in and around Kochi : <br>
                                                   check - <a href="https://www.incredibleindia.org/content/incredibleindia/en/destinations/kochi.html">www.incredibleindia.org/kochi</a>
                                                    </p>
                                                   
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
<!-- Footer Section Begin -->
<footer class="footer-section">
    <div class="container"><!--
        <div class="partner-logo owl-carousel">
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-1.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-2.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-3.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-4.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-5.png" alt="">
                </div>
            </a>
            <a href="#" class="pl-table">
                <div class="pl-tablecell">
                    <img src="img/partner-logo/logo-6.png" alt="">
                </div>
            </a>
        </div> -->
        <div class="row">
            <div class="col-lg-12">
                <div class="footer-text">
                    <div class="ft-logo">
                        <a href="#" class="footer-logo"><img src="img/logo.png" alt=""></a>
                    </div>
                   
                    <div class="copyright-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This website is made by <a href="https://fraternitygroup.co.in" target="_blank">Fraternity Group</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p></div>
                   
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Footer Section End -->

    <!-- Js Plugins -->
    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.magnific-popup.min.js"></script>
    <script src="js/jquery.countdown.min.js"></script>
    <script src="js/jquery.slicknav.js"></script>
    <script src="js/owl.carousel.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>
</body>

</html>